.demo_img {
    text-align   : center;
    margin-bottom: 60px;

    .img-wrap {
        // max-height: 175px;
        overflow     : hidden;
        margin-bottom: 15px;
        box-shadow   : 0px 36px 48px rgba(31, 66, 135, 0.04);
        background   : #342C58;
        padding      : 20px;
        border-radius: 15px;
    }

    img {
        border-radius: 15px;
    }
}