// Google Font
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');
// // Line Awesome
@import url("../icons/line-awesome/css/line-awesome.min.css");
@import url('../icons/font-awesome/css/font-awesome.min.css');
@import url('../icons/cryptocoins/css/cryptocoins.css');
@import url('../icons/cryptocoins/css/cryptocoins-colors.css');


@font-face {
    font-family: 'Biko';
    src        : url('./../fonts/Biko.eot');
    src        : url('./../fonts/Biko.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Biko.woff2') format('woff2'),
        url('./../fonts/Biko.woff') format('woff'),
        url('./../fonts/Biko.ttf') format('truetype'),
        url('./../fonts/Biko.svg#Biko') format('svg');
    font-weight: normal;
    font-style : normal;
}